/*  
    Author:         Luc Jacob
    Content:        CSS (with flex)
    Purpose:        Website development Tutorial
    Date Updated:   July 17th 2022
*/

body {
    font-size: 18px;
    font-family: timesnewroman;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.flexItem {
    width: 25%;
    
    flex-basis: 25%;

    display: flex;
    justify-content: flex-start;
    align-items: baseline;

}

.flexMain {
    min-height: 50px;
    flex: 5 5 20%;
    order: 2;
    
    border-left: 3px solid black;
    

    align-self: flex-end;
}

.flexSidebar {
    min-height: 100px;
    flex: 1 1 1%;
    order: 1;

    align-self: flex-start;
}

#mainHeader {
    color: white;
    background: #334;
    text-align: center;

}

#mainNav {
    background: white;
    color: white;
    position: sticky;
    top: 0;
}

#mainNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mainNav li {
    display: inline;
    padding: 5px 5px;
}

#mainNav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

#mainNav li:hover {
    background: #334;
}

#mainNav a:hover {
    color: white;
    background: #334;
}

#jumbo {
    background-image: url('https://www.google.com/search?rlz=1C1VDKB_enCA1013CA1013&sxsrf=ALiCzsbXn6iWq0y5qhhpph9OytV0-4JZwQ:1669052647697&source=univ&tbm=isch&q=coding+images&fir=J7iqjhxh-M5omM%252CPW9lhEWZ1TfJRM%252C_%253Bvm7ZS88ceavQkM%252CvLxISuumaP92rM%252C_%253BjJsrKNP_KJBd3M%252Cl7Ji_ImHKLJVeM%252C_%253BFmphWmR7s96hlM%252CkCWKwglLTq1cAM%252C_%253BMebvS6XeGe9jnM%252CujkyUUbfZROqpM%252C_%253BQHprlNt6CU342M%252CkCWKwglLTq1cAM%252C_%253BAldJqRzF0aCHmM%252CvLxISuumaP92rM%252C_%253BzTN8fE0ZP9zCiM%252C6o80OIizpcLyxM%252C_%253BpayzW-8Zw0w7oM%252CujkyUUbfZROqpM%252C_%253Bd7TigCgUy_V31M%252Cl7Ji_ImHKLJVeM%252C_%253Bd4w8I_edtlkLaM%252CvLxISuumaP92rM%252C_%253BznNnl-gO3T-d1M%252CPW9lhEWZ1TfJRM%252C_&usg=AI4_-kR3hK0BMW_nsgm8qZCXCx9dljaYyQ&sa=X&ved=2ahUKEwj3prXR6b_7AhUiGzQIHSqzCxUQ7Al6BAgKEGU&biw=1920&bih=937&dpr=1#imgrc=hVtPOHKvO3CCvM');
    background-size: cover;
    background-position: center center;
    min-height: 300px;
    text-align: center;
    background-repeat: no-repeat;
}

#jumbo h1 {
    font-size: 50px;
    color: white;
    padding-top: 55px;
    line-height: 2.5em;
}

#main {
    width: 50%;
    padding: 0 30px;
    box-sizing: border-box; 
    margin-left: 50px;
    padding: 0px 10px;
    top: 0;
    
}

#sideNav {
    height: auto;
    width: 200px;
    /* position: fixed; */
    z-index: 1;
    top: 425px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 0px;
}

#sideNav h2 {
    padding-left: 15px;
}

#sideNav ul {
    list-style: none;
}

#sideNav li {
    padding-left: 0;
}

#sideNav a {
    padding: 5px 0;
    text-decoration: none;
    font-size: 18px;
    color: #334;
    display: block;
    text-align: left;
}

#sideNav a:hover {
    color: white;
    background: #334;
}

#mainFooter {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

@media (max-width:600px) {
    #main, #sideNav {
        width: 100%;
        float: none;
        border: none;
    }
}

